* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: black;
    color: white;
    text-align: center;
}

#title {
    display: block;
    padding: 5px;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

#title a {
    text-decoration: none;
    padding: 10px
}

#fab {
    color: white;
    font-size: 25px;
}

#fab:hover {
    color: blue;
}